<div class="passRecovery centertext">
 <div class="logoPrimary animated fadeIn">
    <img src="images/HF-LogoSecondary-30.svg" alt=""/> 
  </div>

  
<form id="login" name="frm" class="md-whiteframe-1dp animated fadeInUp" layout="row" layout-padding layout-wrap>
	<h2 class="centertext  " flex="100" md-colors="{color: 'indigo-600'}"> RECUPERAR CONTRASEÑA </h2>
	<md-input-container class="md-block md-primary " md-no-float  flex="100" layout-margin>
      <!-- Use floating placeholder instead of label -->
      <input  type="email" name="email" ng-model="model.email" placeholder="Ingresa tu Email" required readonly>

    </md-input-container> 
    <div flex="100" layout="row" layout-align="space-between">
    <!-- PASSWORD -->
        <md-input-container class="md-block md-primary " md-no-float flex layout-margin>
            <input name="fPassword" type="password" ng-model="model.password" placeholder="Contraseña"
                   required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <div ng-messages="frm.fPassword.$error">
                <div ng-message="required" class="md-warn md-caption">Este campo es necesario</div>
                <div ng-message="minlength" class="md-warn md-caption">Mínimo 8 caracteres.</div>
                <div ng-message="pattern" class="md-warn md-caption">Al menos una letra debe ser mayúscula,
                    una minúscula y un número.
                </div>
            </div>
        </md-input-container>
        <!-- PASSWORD REPEAT -->
        <md-input-container class="md-block md-primary " md-no-float flex layout-margin>
            <input name="fPasswordConfirm" type="password" placeholder="Repite tu Contraseña"
                   ng-model="password_confirmation"
                   match="model.password" required>
            <div ng-messages="frm.fPasswordConfirm.$error">
                <div ng-message="required" class="md-warn md-caption">*Este campo es necesario</div>
                <div ng-message="match" class="md-warn md-caption">La contraseña no coincide.</div>
            </div>
        </md-input-container>
    </div>
        
     <md-button type="submit" class="md-raised md-primary"  ng-disabled="!frm.$valid" flex="100" >
     Enviar</md-button>
   

</form>

</div>
	

