<md-dialog aria-label="Nuevo Grupo" ng-controller="UserPasswordController as asCtrl"
 style="width:400px;">
  <form name="frm">
    <md-toolbar>
      <div class="md-toolbar-tools" style="text-align:center;">
        <h2 style="text-align:center;">CAMBIO DE PASSWORD</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="mdi mdi-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " layout="row" layout-align="space-between" layout-wrap layout-padding>
      <div flex="100" class="detailInfo" flex-sm="100" flex-xs="100" layout="column" layout-align="space-around" layout-wrap>
        
        <md-input-container class="md-block">
            <label ><i class="material-icons md-18 ">vpn_key</i>Password Anterior</label>
            <input name="pass_anterior" type="password" ng-model="asCtrl.model.password_anterior"
                    minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            <div ng-messages="frm.pass_anterior.$error">
                <div ng-message="required" class="md-warn md-caption">Este campo es necesario</div>
                <div ng-message="minlength" class="md-warn md-caption">Mínimo 8 caracteres.</div>
                <div ng-message="pattern" class="md-warn md-caption">Al menos una letra debe ser mayúscula,
                    una minúscula y un número.
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label ><i class="material-icons md-18 ">vpn_key</i>New Password</label>
            <input name="pass_new" type="password" ng-model="asCtrl.model.password" required
                    minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <div ng-messages="frm.pass_new.$error">
                <div ng-message="required" class="md-warn md-caption">Este campo es necesario</div>
                <div ng-message="minlength" class="md-warn md-caption">Mínimo 8 caracteres.</div>
                <div ng-message="pattern" class="md-warn md-caption">Al menos una letra debe ser mayúscula,
                    una minúscula y un número.
                </div>
            </div>
        </md-input-container>

        <md-input-container style="margin-top:-0.3em;">
            <label><i class="material-icons md-18 ">vpn_key</i>Confirma Contraseña</label>
            <input name="pass_confirm" type="password" required
                   ng-model="asCtrl.password_confirmation"
                   match="asCtrl.model.password" ng-required="asCtrl.model.password">
            <div ng-messages="frm.pass_confirm.$error">
                <div ng-message="required" class="md-warn md-caption">*Este campo es necesario</div>
                <div ng-message="match" class="md-warn md-caption">La contraseña no coincide.</div>
            </div>
        </md-input-container> 
    

      </div>
        <div flex="100" style="text-align: right;">
        <md-button  ng-click="asCtrl.saveActionButton(frm)" ng-disabled="!frm.$valid" class="md-raised md-primary">
            GUARDAR
        </md-button>
      </div>
    </md-dialog-content>
   </form>
</md-dialog>
